 <div id="entry"> 
<br></br>

<p>The best way to contact us is to email us: <a href="mailto:TheBoss@TysVintageSales.com">Contact Us</a></p>
<p>If the link doesn't work our email address is TheBoss@TysVintageSales.com </p>

<br></br>
</div>
